/**
*
* Main file for scss assets. The you can create variables that will be used in the differents scss stylesheets;
* You can also define mixins functions, helpers.
* The included stylesheets, according to the gulpfile, must be names _mystyle.scss;
*
* Variables ex: $path-imgs: 'thevalue';
*               $color-link: #145625
* Mixin ex: @mixin border-radius($radius) {
			  -webkit-border-radius: $radius;
			  -moz-border-radius: $radius;
			  -ms-border-radius: $radius;
			  border-radius: $radius;
			}
*
*/

$path-mdi: '../fonts/material-design-icons/';
$path-img: '../../upload/media/low_resolution/';
$path-src-img: '../images';

$breakpoint-ssss: 320px;
$breakpoint-sss: 361px;
$breakpoint-ss: 481px;
$breakpoint-s: 601px;
$breakpoint-m: 991px;
$breakpoint-l: 1199px;
$breakpoint-xl: 1200px;

$c-water-green: #26a69a;

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

@import 'vendors/_normalize.scss';
@import 'vendors/_croppie.scss';
@import 'vendors/material-icons.scss';
@import 'vendors/font-awesome/font-awesome.scss';
@import '../../../../node_modules/cropper/dist/cropper.scss';
@import '../../../../node_modules/materialize-sass/sass/materialize.scss';
@import '_mixins.scss';
@import '_item.scss';
@import '_classes.scss';
