{% extends 'base.html.twig' %}

{% block body %}
<section>

  <article class="item">
    <header class="row">
      <div class="col s12"><p>Gonsenheim, Rheinland-Pfalz, Germany</p></div>
    </header>
    <div class="content row">
      <div class="content__image">
          <img src="https://scontent.cdninstagram.com/t51.2885-15/e35/16465420_1196521583802687_8393041226588225536_n.jpg" />
      </div>
      <div class="col s12 content__actions">

      </div>
      <div class="col s12 content__description">
        <p>Wo ist der drache? :) #mainz #gonsenheim #drache #deutschland #wald #baum #woist #himmel</p>
      </div>
    </div>
    <footer class="row">
      <div class="col s12">
        <a href="https://www.google.com/maps?q=50.0076371769,8.2167947787" target="_blank">
          <i class="fa fa-map-marker"></i>
        </a>
        <a href="https://www.instagram.com/p/BQs3ak-gUkA/" target="_blank">
          <i class="fa fa-instagram"></i></a>
      </div>
    </footer>
  </article>
</section>

  <div class="admin-panel">
    <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
  </div>
{% endblock %}
