{% extends 'base.html.twig' %}

{% block body %}
<section>

  <article class="item" style="-webkit-box-align:stretch">
    <header class="row">
      <div class="col s12">TEST</div>
    </header>
    <div class="content row">
      <div class="content__image">
          <img src="{{ asset('dist/images/instant-mustache.png') }}" width="360" />
      </div>
      <div class="col s12 content__actions">

      </div>
      <div class="col s12 content__description">

      </div>
    </div>
    <footer class="row">
      <div class="col s12">TEST</div>
    </footer>
  </article>
</section>

  <div class="admin-panel">
    <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
  </div>
{% endblock %}
