{% extends 'base.html.twig' %}

{% block body %}
<section>



  <form enctype="multipart/form-data" id="dropZone" method="post">
      {{ form_widget(formImage.file) }}
      {{ form_end(formImage) }}

</section>

  <!--<div class="admin-panel">
    <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
  </div>-->
{% endblock %}
