{% extends 'base.html.twig' %}

{% block body %}
<section>

    {{ form(form) }}

</section>

  <!--<div class="admin-panel">
    <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
  </div>-->
{% endblock %}
